<div class="bg-linear-to-b pointer-events-none w-full max-w-[23.4375rem] shrink-0 select-none from-[#4a1972] to-[#742384] px-5 pb-36 pt-8">
  <img class="mb-8 w-14" src="/img/logo-yape_negative.png" alt="Logo de Yape" />
  <div class="flex flex-col gap-4 rounded-2xl bg-white p-5">
    <div class="flex flex-col gap-1">
      <p class="text-2xl font-semibold text-[#8b3999]">¡Yapeaste!</p>
      <p class="text-4xl font-bold text-[#2c2044]">S/ <span>5000</span></p>
      <p class="text-2xl font-medium text-[#2c2044]">Rocio E. Reyes C.</p>
      <p class="flex items-center gap-2.5 font-medium text-[#6b637c]">
        <span class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
          <span>19 abr. 2025</span>
        </span>
        <span class="w-0.25 h-3 bg-[#6b637c]"></span>
        <span class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16.5 12"/></svg>
          <span>10:56 a. m.</span>
        </span>
      </p>
    </div>
    <div id="box-message" class="hidden items-center gap-2 rounded-lg bg-gradient-to-r from-[#fdf1ff] to-[#ecf6ff] px-4 py-3 text-xs font-semibold text-[#2c2044] [word-break:break-all]">
      <svg class="size-5 shrink-0" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 3a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-4.724l-4.762 2.857a1 1 0 0 1 -1.508 -.743l-.006 -.114v-2h-1a4 4 0 0 1 -3.995 -3.8l-.005 -.2v-8a4 4 0 0 1 4 -4zm-4 9h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0 -2m2 -4h-8a1 1 0 1 0 0 2h8a1 1 0 0 0 0 -2" /></svg>
      <p></p>
    </div>
    <hr class="border-[#dfdee3]">
    <div class="flex items-center justify-between gap-4">
      <p class="text-[11px] font-bold tracking-wider text-[#767283]">CÓDIGO DE SEGURIDAD</p>
      <div class="flex gap-1">
        <span class="size-7 flex items-center justify-center rounded-sm bg-[#edecf2] text-lg font-bold text-[#2c2044]">5</span>
        <span class="size-7 flex items-center justify-center rounded-sm bg-[#edecf2] text-lg font-bold text-[#2c2044]">0</span>
        <span class="size-7 flex items-center justify-center rounded-sm bg-[#edecf2] text-lg font-bold text-[#2c2044]">2</span>
      </div>
    </div>
    <hr class="border-[#dfdee3]">
    <div class="mt-2">
      <p class="text-[11px] font-bold tracking-wider text-[#767283]">DATOS DE LA TRANSACCIÓN</p>
      <div class="mt-4 w-full">
        <div class="mb-1 flex text-[#2c2044]">
          <p class="w-1/2 text-left">Nro. de celular</p>
          <p class="w-1/2 text-right font-semibold">*** *** <span>711</span></p>
        </div>
        <div class="mb-1 flex text-[#2c2044]">
          <p class="w-1/2 text-left">Destino</p>
          <p class="w-1/2 text-right font-semibold"><span>Yape</span></p>
        </div>
        <div class="flex text-[#2c2044]">
          <p class="w-1/2 text-left">Nro. de operación</p>
          <p class="w-1/2 text-right font-semibold"><span>05819502</span></p>
        </div>
      </div>
    </div>
  </div>
</div>