---
import './src/styles/global.css'
import '@fontsource-variable/roboto'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Llape - La forma más fácil de "pagar" sin pagar</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
	</head>
	<body>
		<slot />
	</body>
</html>
